@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--color-bg);
	--color-foreground: var(--color-text);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-sidebar-ring: var(--color-border);
	--color-sidebar-border: var(--color-border);
	--color-sidebar-accent-foreground: var(--color-text-heading);
	--color-sidebar-accent: var(--color-accent);
	--color-sidebar-primary-foreground: var(--color-text-heading);
	--color-sidebar-primary: var(--color-bg-secondary);
	--color-sidebar-foreground: var(--color-text);
	--color-sidebar: var(--color-bg-secondary);

	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--color-ring: var(--color-border);
	--color-input: var(--color-bg-secondary);
	--color-border: var(--color-border);
	--color-destructive: #da4547; /* Use a specific red if needed */
	--color-accent-foreground: var(--color-text-heading);
	--color-accent: var(--color-accent);
	--color-muted-foreground: var(--color-text-muted);
	--color-muted: var(--color-bg-secondary);
	--color-secondary-foreground: var(--color-text);
	--color-secondary: var(--color-bg-secondary);
	--color-primary-foreground: var(--color-text-heading);
	--color-primary: var(--color-icon);
	--color-popover-foreground: var(--color-text);
	--color-popover: var(--color-bg-secondary);
	--color-card-foreground: var(--color-text);
	--color-card: var(--color-bg-secondary);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	/* Custom color tokens */
	--color-bg: #1d1f20;
	--color-bg-secondary: #2f3336;
	--color-border: #464646;
	--color-icon: #979797;
	--color-text-heading: #dededc;
	--color-text: #e7e7e6;
	--color-text-muted: #a3a3a3;
	--color-accent: #2c5ae1;

	--radius: 0.625rem;

	/* Chart placeholders */
	--chart-1: #a561e3;
	--chart-2: #609ff5;
	--chart-3: #577cf6;
	--chart-4: #f4c44e;
	--chart-5: #e6a043;
}

.dark {
	--color-bg: #1d1f20;
	--color-bg-secondary: #2f3336;
	--color-border: #464646;
	--color-icon: #979797;
	--color-text-heading: #dededc;
	--color-text: #e7e7e6;
	--color-text-muted: #a3a3a3;
	--color-accent: #2c5ae1;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-[--color-bg] text-[--color-text];
	}
}
